.main_contents

  .chat-main__group-info
    .chat-main__group-info__name
      = @group.name
    .chat-main__group-info__member
      MEMBER :
      - @group.users.each do |user|
        %member
          = user.name
    .chat-main__group-info__edit-button
      =link_to edit_group_path(@group), class: "contents__btn" do
        Edit

  .chat-main__message-list
    = render @messages

  -# .chat-main__message-list
  -#   .chat-main__message-list__list
  -#     .chat-main__message-list__list__name
  -#       masa
  -#     .chat-main__message-list__list__date
  -#       2019/11/20(Wed) 17:43:01
  -#   .chat-main__message-list__message
  -#     Hello!

  .chat-main__message-form

    -# %form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'

      -# .input-box
      -#   %input.input-box__text{type: "text", placeholder:"type a message"}
      -#   %label{class: "input-box__image"}
      -#     = icon('fas', 'image')
      -#     %input{type: "file",class: "input-box__image__file"}
      -# %input.submit-btn{type:"submit",value:"Send"}